body {
  @include margin;
  header {
    .main_div {
      .con1 {
        display: flex;
        justify-content: space-between;
        .d2 {
          .name {
            text-align: center;
          }
        }
      }
    }
  }
}
